<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap.min%20(1).css">
    <style>
        .account {
            width: 500px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h1 {
            margin-top: 10px;
            text-align: center;
        }
        h1, h2, h3, h4, h5, h6, p {
        font-family: "Cabin Sketch", cursive, SimHei;
    }
    </style>
</head>
<body>
<div class="account">
    <h1>修改密码</h1>
    <form method="post" action="{% url 'change_password' user.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">原密码</label>
            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="OldPassword">
        </div>
        <div class="form-group">
            <label for="password">新密码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="NewPassword">
        </div>
        <div class="form-group">
            <label for="password2">新密码</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="NewPassword">
        </div>
{#        <a href="{% url 'change_password' user.id %}" class="btn btn-primary">确认</a>#}
        <button type="submit" class="btn btn-primary">确认</button>
        <a href="{% url 'password_reset_recover' %}" class="btn btn-primary">忘记密码</a>
        <a href="{% url 'blog_list'%}" class="btn btn-primary">返回</a>
    </form>
</div>
</body>
</html>